<div class="container">
    <h1>Hace tu pedido!</h1>
    <div class="lista">
        <div class="form-check" *ngFor="let producto of productos" (change)="onChangeProductos(producto)">
            <input class="form-check-input" type="checkbox" [value]="producto.codigo" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault"> {{producto.descripcion}} </label>
        </div>
    </div>
    <div class="vendedores">
        <select class="form-select" [(ngModel)]="pedido.vendedorId">
          <option [ngValue]="null" selected disabled>Seleccione un vendedor</option>
          <option *ngFor="let vendedor of vendedores" [ngValue]="vendedor.id">
            {{ vendedor.descripcion }}
          </option>
        </select>
      </div>
      
    <div class="boton">
        <button type="button" class="btn btn-primary" (click)="guardarPedido()">Guardar pedido</button>
    </div>

</div>